[flake8]
max-line-length = 100
# E12x continuation line indentation
# E251 no spaces around keyword / parameter equals
# E303 too many blank lines (3)
ignore = E501,F401
exclude = .git,__pycache__,docs/source/conf.py,old,build,dist,*/migrations/*
max-complexity = 10
